/* old */
/* ::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: rgba(50,50,50,.3);
}

::-webkit-scrollbar-track {
	border-radius: 1em;
	background-color: rgba(50,50,50,.1);
} */

::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	/* #F90 61,200,189 */
	background-color: rgb(59, 163, 217);
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
