::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: rgba(50,50,50,.3);
}

::-webkit-scrollbar-track {
	border-radius: 1em;
	background-color: rgba(50,50,50,.1);
}